@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    margin: 0px;
    overflow-x: hidden;
}

body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


li{
    list-style: none;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/*header*/
.header{
    padding: 0 20px;
    align-items: center;
    position: fixed;
    width: 100%;
}

/* .header .header__container{
    width: 100%;
} */

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px
}

.header .header__container .header__content h1{
    font-size: 30px;
}

.header .header__container .header__content h1 a{
    color: #000;
}

.header .header__container .header__content h1 i{
    color: #fbb034;
}

.header .header__container .header__content .header__menu{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
    justify-content: right;
}

.header .header__container .header__content .header__menu ul li{
    margin: 0 10px;
    font-weight: bold;
    text-transform: upper se;
    text-decoration: solid;
    cursor: pointer;
    transition: all 0.5s;
}

.header .header__container .header__content .header__menu ul li:hover{
    color: #fbb034;
}

.header .header__container .header__content .header__menu ul li:first-child{
    color: #fbb034
}

.header .header__container .header__content .header__menu .header__search{
    margin: 0 10px;
    align-items: center;
    display: flex;
    position: relative;
}

.header .header__container .header__content .header__menu .header__search input{
    height: 50px;
    font-size: 15px;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 30px; 
}

.header .header__container .header__content .header__menu .header__search span{
    position: absolute;
    right: 0;
    margin: 0 10px;
}

.header .header__container .header__content .header__moon i{
    font-size: 25px;
}

/*header*/
/* banner */
.banner{
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.banner .banner__container .banner__content{
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.banner .banner__container .banner__content .flex{
    flex: 0 0 50%;
    max-width: 0 0 50%;
    padding: 0 15px;
}

.banner .banner__container .banner__content .banner__text h3{
    font-size: 54px;
    font-weight: 300;
}

.banner .banner__container .banner__content .banner__text h3 span{
    font-weight: 600;
}

.banner .banner__container .banner__content .banner__text p{
    font-size: 17px;
    line-height: 30px;
    color: rgb(119, 117, 117);
    margin: 40px 0;
}

.banner .banner__container .banner__content .banner__text .banner__button a{
    font-size: 20px;
    padding: 15px 30px;
    background-color: #fbb034;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
}

/* .banner .banner__container .banner__content .banner__image{
    text-align: right;
} */

.banner .banner__container .banner__content .banner__image img{
    -webkit-border-radius: 75% 25% 32% 68% / 53% 47% 53% 47%;
    margin-top: 0 !important;
}

.py5{
    padding-bottom: 3rem !important;
}

.py5{
    padding-top: 3rem !important;
}

.pb-md-4{
    padding-bottom: 1.5rem !important;
}

.pt-5{
    padding-top: 3rem !important;
}

/* banner */

.make{
    padding: 48px 0;
}

.make .make__container{
    padding: 48px 0px;
}

.make .make__container .make__row{
    display: flex;
    margin-left: -15px;
    align-items: center;
    flex-wrap: wrap;
}

.make .make__container .make__row .make__content .make__image .img{
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}


.make .make__container .make__row .make__content{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.make .make__container .make__row .make__text{
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 30px;
}

.make .make__container .make__row .make__text h3{
    font-size: 35px;
}

.make .make__container .make__row .make__text .mt-3{
    font-size: 17px;
    color: #707070;
    margin: 15px 0;
    line-height: 25px;
}

.make .make__container .make__row .make__number{
    margin-top: 50px;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}

.make .make__container .make__row .make__number .make__design{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 20px;
}

.make .make__container .make__row .make__number .make__design h4{
    font-size: 28px;
}

.make .make__container .make__row .make__number .make__design p{
    font-size: 17px;
    color: #707070;
    margin-top: 20px;
}

/* look */
.look{
    padding: 48px 0;
}

.look .look__container .look__content .look__quality{
    display: flex;
    flex-wrap: wrap;
}

.look .look__container .look__content .look__quality .look__image{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.look .look__container .look__content .look__quality .icon{
    display: block;
    position: relative;
    background-image: url(/img/banner4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.look .look__container .look__content .look__quality .look__image .img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.look .look__container .look__content .look__quality .look__image .mt_6{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 10px;
}

.look .look__container .look__content .look__quality .look__image .mt_7{
    margin: 0 20px;
    padding: 25px;
}

.look .look__container .look__content .look__quality .look__image .look__text .mt_4{
    font-size: 25px;
    text-align: center;
}

.look .look__container .look__content .look__quality .look__image .look__text{
    margin-bottom: left;
}

.look .look__container .look__content .look__quality .look__image .look__text p{
    font-size: 17px;
    line-height: 25px;
    margin-top: 28px;
    color: #707070;
}

.look .look__container .look__content .look__quality .look__image .mt_8{
    margin-top: 30px;
}

.look .look__container .look__content .look__quality .look__image .p_8{
    margin-bottom: 30px;
}

/* look */

/* family */
.family{
    padding: 48px 0;
}

.family .family__container{
    padding: 48px 0;
}

.family .family__container .family__content .family__top{
    align-items: center;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.family .family__container .family__content .mt-1{
    margin-bottom: 80px;
}

.family .family__container .family__content .family__top .family__text{
    flex: 0 0 30%;
    max-width: 30%;
}

.family .family__container .family__content .family__top .family__image{
    flex: 0 0 70%;
    max-width: 70%;
}


.family .family__container .family__content .family__top .fl_2{
    padding: 0 15px;
}

.family .family__container .family__content .family__top .img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.family .family__container .family__content .family__top .family__text h3{
    font-size: 25px;
}

.family .family__container .family__content .family__top .family__text p{
    color: #707070;
    margin: 20px 0;
    font-size: 17px;
    line-height: 30px;
}

.family .family__container .family__content .family__top .family__text a{
    padding: 16px 40px;
    background-color: #fbb034;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
}

/* family */

/* sale */

.sale{
    padding: 48px 0;
}

.sale .sale__container{
    background-image: url(/img/banner8.png);
    background-repeat: no-reppeat;
    background-size: cover;
    background-position: center center;
    padding: 48px 0;
    background-color: #f7f7f7;
}


.sale .sale__container .sale__content .sale__text{
    max-width: 600px;
    margin-left: auto !important;
    padding: 48px 0;
    padding-right: 40px;
}

.sale .sale__container .sale__content .sale__text h5{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.sale .sale__container .sale__content .sale__text h3{
    font-size: 32px;
}

.sale .sale__container .sale__content .sale__text p{
    font-size: 17px;
    color: #707070;
    margin: 20px 0;
    line-height: 25px;
}

.sale .sale__container .sale__content .sale__text ul{
    display: flex;
}

.sale .sale__container .sale__content .sale__text ul li{
    margin-right:  15px;
    font-size: 30px;
}

.sale .sale__container .sale__content .sale__text ul .sl_1{
    color: #707070;
}

.sale .sale__container .sale__content .sale__text a{
    padding: 16px 40px;
    background-color: #fbb034;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
}


/* sale */
/* our */
.our{
    padding: 48px 0;
}

.our .our__container{
    padding: 48px 0;
}

.our .our__container .our__content .our__text{
    text-align: center;
    width: 700px;
    margin: 0 auto;
    color: #707070;
}

.our .our__container .our__content .our__text h3{
    font-size: 35px;
}

.our .our__container .our__content .our__text p{
    font-size: 19px;
    margin: 20px 0;
    font-weight: 3 00;
    line-height: 30px;
}

.our .our__container .our__content .our__image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 100px 200px;
    grid-gap: 15px;
}

.our .our__container .our__content .our__image .our__icon{
    position: relative;
    overflow: hidden;
    
}

.our .our__container .our__content .our__image .our__icon:after{
    content:"";
    position:absolute;
    top:0px;
    bottom:0px;
    width: 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    display: block;
    left: -70%;
    transform: skewX(-20deg);
}

.our .our__container .our__content .our__image .our__icon:hover:after{
    left: 100%;
    transition: all 1s;
}

.our .our__container .our__content .our__image .our__icon .img{
    display: block;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
}

.our .our__container .our__content .our__image .our__icon:first-child{
    grid-column: 1/3;
    grid-row: 1/2;
}

.our .our__icon:nth-child(2), .our .our__icon:nth-child(3){
    grid-row: 1/3;
}

.our .our__icon:nth-child(4), .our .our__icon:nth-child(5){
    grid-row: 2/4;
}

.our .our__icon:last-child{
    grid-column: 3/5;
}

/* our */

/* image */
.image{
    padding: 48px 0;
}

.image .image__container .image__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    
}

.image .image__container .image__content .image__img{
    position: relative;
    overflow: hidden;
    
}

.image .image__container .image__content .image__img:before{
    content:"";
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    width: 50%;
    left: -70%;
    transform: skewX(-17deg);
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
}

.image .image__container .image__content .image__img:hover:before{
    left:100%;
    transition: all 0.8s;
}


.image .image__container .image__content .image__img img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
/* image */

/* start */
.start{
    padding: 48px 0;
}

.start .start__container .start__content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.start .start__container .start__content .start__text h3{
    font-size: 30px;
}   

.start .start__container .start__content .start__text p{
    font-size: 17px;
    color: #707070;
    margin: 20px 0;
    line-height: 25px;
}

.start .start__container .start__content .start__text a{
    font-size: 20px;
    color: #fff;
    padding: 13px 40px;
    background-color: #fbb034;
    border-radius: 30px;
    display: inline-block;
}

/* start */

/* Email */
.email{
    padding: 48px 0;
}

.email .email__container .email__content{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px;
    background-color: #faae33;
    flex-wrap: wrap;
}

.email .email__container .email__content .email__left{
    color: #fff;
}

.email .email__container .email__content .email__right{
    display: flex;
    align-items: center;
}

.email .email__container .email__content .email__right input{
    height: 55px;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    width: 70%;
}

.email .email__container .email__content .email__right button{
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
    height: 55px;
    width: 30%;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.email .email__container .email__content .email__left h3{
    font-size: 35px;
}

.email .email__container .email__content .flex{
    flex: 0 0 50%;
    max-width: 50%;
}

/* Email */

/* footer */
.footer{
    padding: 48px 0;
    background-color:#f7f7f7;
}

.footer .footer__container .footer__content{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__meta{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__container .footer__content .footer__meta h3{
    font-size: 20px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__meta ul li{
    padding: 10px 0;
}


/* footer */

.header .header__container .header__content .header__tablet{
    display: none;
}