.container{
    max-width: 360px;
}

.banner .banner__container .banner__content{
    flex-wrap: wrap;
}

.banner .banner__container .banner__content .flex{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.banner .banner__container .banner__content .banner__image img{
    width: 100%;
}

.look .look__container .look__content .look__quality .look__image{
    flex: 0 0 100%;
    max-width: 100%;
}