.container{
    max-width: 700px;
}

.header .header__container .header__content .header__menu{
    display: none;
}

.header .header__container .header__content{
    padding: 20px 0px;
}

.header .header__container .header__content .header__moon{
    display: none;
}

.header .header__container .header__content .header__tablet{
    display: flex;
    font-size: 25px;
    align-items: center;
}

.header .header__container .header__content .header__tablet i:last-child{
    margin-left: 20px;
    padding: 10px;
    background-color: #faae33;
    color: #fff;
    border-radius: 10px;
}

.banner .banner__container .banner__content .banner__image img{
    width: 320px;
}

.make .make__container .make__row .make__content{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
}

.make .make__container .make__row{
    margin: 0px;
}

.make .make__container .make__row .make__text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
    margin-top: 50px;
}

.look .look__container .look__content .look__quality .look__image{
    flex: 0 0 50%;
    max-width: 50%;
}

.look .look__container .look__content .look__quality{
    justify-content: center;
}

.sale .sale__container{
    background-position: left;
}

.email .email__container .email__content .flex{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}

.footer .footer__container .footer__content .footer__meta{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-bottom: 30px;
}